.row {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.card-total-data {
    padding-top: 20px;
    text-align: center;
}

.total-data-title {
    font-size: 15px;
}

.card-body p {
    font-size: 30px;
    font-weight: bold;
}

.jumbotron {
    padding: 30px;
}

.badge {
    font-size: 1.5rem;
    width: 80%;
    color: #222;
    padding: 1rem;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fffe;
    z-index: 1;
    font-size: 10rem;
    color: #007bff
}

nav {
    z-index: 2;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }